{% extends "base.html" %}
{% block content %}

<h1>Court Bookings</h1>

<body>

<h2>Book an Appointment</h2>

<form id="scheduleForm">
  <label>Member Name or ID:</label><br>
  <input type="text" id="name" required><br><br>

  <label>Date:</label><br>
  <input type="date" id="date" required><br><br>

  <label>Time:</label><br>
  <input type="time" id="time" required><br><br>

  <label>Guest:</label><br>
  <input type="Number of Guest" id="Guest"><br><br>
  <label>Guest Phone Number:</label><br>
  <input type="Phone Number" id="Guest Phone Number"><br><br>
  
  <button type="submit">Schedule</button>
</form>

<h3>Appointments:</h3>
<ul id="appointmentsList"></ul>

</body>
</html>
