{% extends "base.html" %}
{% block content %}
<h1>Export Data</h1>
<p>Click the button below to export all data to a CSV backup file. A copy will also be saved to the Pi's backup folder.</p>

<div style="margin-top: 30px;">
    <a href="/export/download" class="btn btn-success">Download Full Backup CSV</a>
</div>

<div style="margin-top: 30px;">
    {% if backups %}
        <h4>Saved Backups</h4>
        <ul>
            {% for backup in backups %}
                <li><a href="{{ url_for('serve_backup', filename=backup) }}">{{ backup }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No backups yet.</p>
    {% endif %}
</div>

{% endblock %}
